# Jekyll 生成文件
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/

# 系统文件
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# 
#       cd C:\Users\danny\Desktop\Junior\profile\TidalHarley.github.io-main\TidalHarley.github.io-main
#       git remote add origin https://github.com/TidalHarley/TidalHarley.github.io.git
#       git push -f origin main