/* Lato 字体 */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

.papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.name-cn {
  font-size: 18px;
  color: #666;
  font-weight: normal;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.interest-tag {
  display: inline-block;
  padding: 4px 10px;
  margin: 3px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 13px;
  color: #333;
}

.award-year {
  font-weight: bold;
  color: #1772d0;
  min-width: 70px;
  display: inline-block;
}

.experience-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 15px;
}

.toefl-score {
  font-size: 28px;
  font-weight: bold;
  color: #1772d0;
}

.toefl-breakdown {
  display: inline-block;
  margin: 5px 15px;
  text-align: center;
}

.toefl-breakdown span {
  display: block;
}

.score-section {
  font-size: 12px;
  color: #666;
}

.score-number {
  font-size: 18px;
  font-weight: bold;
}

blockquote {
  border-left: 3px solid #1772d0;
  padding-left: 15px;
  margin: 20px 0;
  color: #555;
  font-style: italic;
}

blockquote cite {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #888;
  font-style: normal;
}
